backend/upload-dir
backend/target/
backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/pom.xml.next
backend/release.properties
backend/dependency-reduced-pom.xml
backend/buildNumber.properties
backend/.mvn/timing.properties
backend/.mvn/wrapper/maven-wrapper.jar
backend/bin/
backend/*.log

frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/package-lock.json
frontend/*.tsbuildinfo
frontend/*.tscn
frontend/*.d.ts
frontend/.vscode/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/

# General
.DS_Store
*~

frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?	

backend/HELP.md
backend/target/
backend/!.mvn/wrapper/maven-wrapper.jar
backend/!**/src/main/**/target/
backend/!**/src/test/**/target/
backend/myLogs.log
backend/.DS_STORE
### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

### VS Code ###
backend/.vscode/
backend/myLogs.*
backend/upload-dir


microservices/HELP.md
microservices/target/
microservices/myLogs.**
microservices/!**/myLogs.**
microservices/!.mvn/wrapper/maven-wrapper.jar
microservices/!**/src/main/**/target/
microservices/!**/src/test/**/target/
microservices/.apt_generated
microservices/.classpath
microservices/.factorypath
microservices/.project
microservices/.settings
microservices/.springBeans
microservices/.sts4-cache
microservices/.idea
microservices/*.iws
microservices/*.iml
microservices/*.ipr
microservices/*.log.*
microservices/*.log
microservices//nbproject/private/
microservices//nbbuild/
microservices//dist/
microservices//nbdist/
microservices//.nb-gradle/
microservices/build/
microservices/!**/src/main/**/build/
microservices/!**/src/test/**/build/
microservices/.vscode/
